---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout fixedHeight is404 title="Not Found">
  <article
    id="article"
    class=":uno: h-full overflow-hidden flex flex-col gap-y-4 items-center justify-center text-center"
  >
    <h1
      class=":uno: flex-none flex flex-col items-center justify-center gap-x-4 gap-y-4 mt-4 mb-8 text-4xl leading-tight opacity-80"
    >
      <div
        class=":uno: flex-none w-32 h-32 sm:w-48 sm:h-48 i-mdi-package-variant"
      >
      </div>
      <div>
        <span>404</span>
        <span class=":uno: whitespace-nowrap">Not Found</span>
      </div>
    </h1>
    <div class=":uno: text-base text-[--theme-text-light] leading-tight">
      <p class=":uno: mb-8">The page you are looking for does not exist.</p>
      <a href="/" class:list={["link", ":uno: text-base !font-bold"]}>Home</a>
    </div>
  </article>
</MainLayout>
