<span
  class=":uno: flex-none inline-block select-none rounded-sm px-1.5 text-sm ml-2 light:bg-green-500 light:text-light-100 dark:bg-green-700 dark:text-light-600"
  title="This port is host only port"
>
  host only
</span>
