---
import type { MinifiedTriplet } from "../../../../shared/vcpkg/triplets.mjs";

interface Props {
  readonly triplet: MinifiedTriplet;
  readonly unsupported?: boolean | undefined;
}

const {
  triplet: [name, extracted],
  unsupported,
} = Astro.props;
const mark = unsupported ? "❌" : "✅";
const Tag = unsupported ? "del" : "span";
---

<li>
  {mark}
  <Tag
    title={extracted.length ? extracted.join(", ") : undefined}
    set:text={name}
  />
</li>
