<a
  class=":uno: not-focus:sr-only block z-99 absolute top-0 left-0 right-0 m-auto p-2 text-xl font-bold text-center !bg-[var(--theme-text-accent)] !color-[var(--theme-bg)] !outline-none"
  href="#article"
>
  <span data-nosnippet>Skip to Content</span>
</a>
