---
import {
  VCPKG_PORTS_REPO_URL,
  VCPKG_REPO_URL,
} from '../../../shared/pageConstants.mjs';
---

<h2 class="heading">More</h2>
<ul class="plain-list">
  <li class="header-link depth-2">
    <a href={VCPKG_REPO_URL} target="_blank" rel="noreferrer">
      <sppn class=":uno: flex-none block w-5 h-5 i-mdi-github"></sppn>
      <span>vcpkg</span>
    </a>
  </li>
  <li class="header-link depth-2">
    <a href={VCPKG_PORTS_REPO_URL} target="_blank" rel="noreferrer">
      <sppn class=":uno: flex-none block w-5 h-5 i-mdi-github"></sppn>
      <span>vcpkg-ports</span>
    </a>
  </li>
</ul>
